VITE_CONTRACT_ID=YOUR_DEPLOYED_CONTRACT_ID_HERE
VITE_TOKEN_ADDRESS=CDLZFC3SYJYDZT7K67VZ75HPJVIEUVNIXF47ZG2FB2RMQQVU2HHGCYSC
VITE_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
VITE_RPC_URL=https://soroban-testnet.stellar.org
VITE_HORIZON_URL=https://horizon-testnet.stellar.org
VITE_SENTRY_DSN=YOUR_SENTRY_DSN_HERE
VITE_GOOGLE_FORM_URL=YOUR_GOOGLE_FORM_URL_HERE
